notebook/venv/
full_version_index.pdf
simulator/chrome_profiles/
my_email_solution/docker-data/ca/
my_email_solution/docker-data/dms/*
!my_email_solution/docker-data/webmail/config/ssl/
simulator/src/__pycache__/
